---
import Themes from '../themes.json';
import Card   from './Card.astro';

const ThemeList = [...Themes].reverse()


interface Props {
  title: string
  limit: number
  starting: number
}

const { title, limit, starting } = Astro.props
---




<div>

  <h2>{title}</h2>

  <ul class="card-grid">

    {
      ThemeList.slice(starting, starting + limit).map(({ title, description, image, link, tags }) => (
        <Card
          href={link}
          title={title}
          body={description}
          image={image}
          tags={tags}
        />
      ))
    }

  </ul>

</div>




<style lang="scss">

  h2 { margin-block-start: var(--spacing-giant); }


  .card-grid {

    display: grid; gap: var(--spacing-large);
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));

    margin-block: var(--spacing-large);

    list-style: none;

  }

</style>
